
.menu-container{
background-image: linear-gradient(var(--color-primary),#07213d);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    align-items: center;
    text-align: center;
}
.menu-container .title-category{
    font-family: var(--font-cursive);
    color: var(--color-secondary);
    margin: 20px 0;
    border-bottom: 3px dotted var(--text-white);
}

.menu-container .list-products{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    align-items: center;
    text-align: center;
    grid-gap: 10px;
   place-items: center;
}
.menu-container .list-products .card-product{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: start;
    color: var(--text-white);
    aspect-ratio: 9/2;
    position: relative;
    overflow: hidden;
    gap: 20px;
}
.menu-container .list-products .details-product{
    flex: 3;
}
.menu-container .list-products .card-product p{
line-height: 18px !important;
}
.menu-container .list-products .card-product .price{

    color: var(--color-secondary);
    font-family: var(--font-cursive);
}
.menu-container .list-products .card-product .img-product{
    flex:  1;
  width: 100%;
    position: relative;
    border-radius: 10px;
    aspect-ratio: 9/16;
    overflow: hidden;
    height: 100%;
}



/* @media(max-width:920px){
    .menu-container .list-products{
     
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
     
    }
   }

@media(max-width:568px){
    .menu-container .list-products{
   
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
       
    }
   } */
  
   
  @media(max-width:360px){
    .menu-container .list-products{
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-gap: 10px;
    }
  }
  